@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --hover-color: #b7a7ff;
    --primary-color: #342578;
    --secondary-color: #202454;
    --ternary-color: #d7dbff;
    --error-color: #fa4174;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    font-family: 'JetBrains Mono', monospace;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0px 20px;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 0px 30px 10px var(--secondary-color);
}

.navbar .navbar__logo a,
.navbar .navbar__wrapper .navbar__item a {
    text-decoration: none;
}

.navbar .navbar__logo {
    border-right: 2px solid var(--hover-color);
    padding: 0px 15px;
}

.navbar .navbar__logo a {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.navbar .navbar__logo a:hover {
    color: var(--hover-color);
}

.navbar .navbar__wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

.navbar .navbar__wrapper .navbar__item {
    font-size: 16px;
    display: flex;    
    margin: 0px 5px
}

.navbar .navbar__wrapper .navbar__item a {
    color: #fff;
    padding: 15px;
    border-bottom: 2px solid transparent;
}

.navbar .navbar__wrapper .navbar__item a:hover{
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}

/*CONTAINER*/
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

/*ERROR*/
.container .container__error {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    display: none;
}

.container .container__error .error-title {
    font-weight: bold;
}

.container .container__error .error-title,
.container .container__error .error-text {
    color: var(--error-color);
}

.container .container__error .error-text:hover {
    color: var(--hover-color);
}

/*SECTION CATS*/
.diagonal-divider ,
.diagonal-divider-inverted {
    background-color: var(--primary-color);
    width: 100%;
    height: 100px;
    margin: 0;
    z-index: -1;
    border: none;
}

.diagonal-divider {
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.diagonal-divider-inverted {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.container section:nth-of-type(even) {
    background-color: var(--primary-color)
}

.container section:nth-of-type(even) h2 {
    color: #fff;
}

.container .container__upload-cat,
.container .container__uploaded-cats,
.container .container__favorite-cats,
.container .container__random-cats {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.container .container__random-cats h2 {
    margin-top: 10px;
}

.container .container__uploaded-cats button,
.container .container__favorite-cats button,
.container .container__random-cats button {
    align-self: center;
}

.container .container__uploaded-cats-list,
.container .container__favorite-cats-list,
.container .container__random-cats-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container .container__uploaded-cats-list .uploaded-cats-item,
.container .container__favorite-cats-list .favorite-cats-item,
.container .container__random-cats-list .random-cats-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 5px 12px 5px rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 5px 5px 15px 15px;
    background-color: #fff;
}

.container .container__uploaded-cats-list .uploaded-cats-item img,
.container .container__favorite-cats-list .favorite-cats-item img,
.container .container__random-cats-list .random-cats-item img,
.upload-image-form img {
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.container .container__uploaded-cats-list .uploaded-cats-item img:hover,
.container .container__favorite-cats-list .favorite-cats-item img:hover,
.container .container__random-cats-list .random-cats-item img:hover,
.upload-image-form img:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
    border-radius: 5px 5px 5px 5px;
}

.container .container__uploaded-cats-list .uploaded-cats-item button,
.container .container__favorite-cats-list .favorite-cats-item button,
.container .container__random-cats-list .random-cats-item button {
    margin: 5px 0px;
}

/*UPLOAD CAT*/
.container .container__upload-cat {
    align-items: center;
}

.container .container__upload-cat h2 {
    margin: 20px 0px;
}

.upload-image-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-image-form label {
    background-color: var(--primary-color);
    align-self: stretch;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ternary-color);
    font-size: 20px;
    font-weight: bold;
}

.upload-image-form label:hover {
    background-color: var(--secondary-color);
    color: var(--hover-color)
}

.upload-image-form label,
.upload-image-form img {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0.1px #212121;
}

.upload-image-form img:hover {
    object-fit: contain;
    box-shadow: none;
}

.upload-image-form input[type=file] {
    display: none;
}

.upload-image-form button {
    border: none;
    margin-top: 20px;
    width: 50%;
    height: 50px;
}

/*FOORT*/
.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* padding-bottom: 50px; */
    font-size: 10px;
    font-weight: bold;
}

.footer h2 {
    margin: 20px 15px;
}

.footer h2 a {
    color: #fff;
    text-decoration: overline;
}

.footer h2 a:hover {
    color: var(--hover-color);
}

/*GENERIC*/
.section-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.btn-new-cats,
.btn-action {
    position: relative;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 2px 5px 0.1px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btn-action:hover {
    color: var(--hover-color);
    cursor: pointer;
}
.btn-action span {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0px 5px
}

.btn-new-cats {
    margin: 10px;
    background-color: var(--ternary-color);
    color: var(--secondary-color);
}

.btn-new-cats:hover {
    color: var(--hover-color);
    background-color: var(--secondary-color);
}

.btn-action:disabled {
    background-color: #212121;
    color: #fff;
    /* cursor: not-allowed; */
}

/*BUTTON LOADER*/
.button--loading * {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}